---
import Layout from 'src/lib/layout.docs.astro';
---

<Layout>
	<!--  -->
	<h2>Table</h2>
	<ly-slider>
		<table>
			<thead>
				<tr>
					<th class='w-5'>
						<ly-check variant='checkbox'></ly-check>
					</th>
					<th>
						<span>Col name</span>
						<button class='marker'>
							<ly-icon> unfold_more </ly-icon>
						</button>
					</th>
					{
						[...Array(6).keys()].map((i: number) => (
							<th>
								<span>Col name #{i}</span>
								<button class='marker'>
									<ly-icon> unfold_more </ly-icon>
								</button>
							</th>
						))
					}
				</tr>
			</thead>
			<tbody>
				{
					[...Array(7).keys()].map((i: number) => (
						<tr>
							<td class='w-auto'>
								{' '}
								<ly-check variant='checkbox' />{' '}
							</td>
							<td>Table Cellsaddsf sdfs sdf sf sfdsf #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</ly-slider>
	<!--  -->
	<h2>Table</h2>
	<ly-slider>
		<table class='bg-primary'>
			<thead>
				<tr>
					<th class='w-5'>
						<ly-check variant='checkbox'></ly-check>
					</th>
					<th>
						<span>Col name</span>
						<button class='marker'>
							<ly-icon> unfold_more </ly-icon>
						</button>
					</th>
					{
						[...Array(6).keys()].map((i: number) => (
							<th>
								<span>Col name #{i}</span>
								<button class='marker'>
									<ly-icon> unfold_more </ly-icon>
								</button>
							</th>
						))
					}
				</tr>
			</thead>
			<tbody>
				{
					[...Array(7).keys()].map((i: number) => (
						<tr>
							<td class='w-auto'>
								{' '}
								<ly-check variant='checkbox' />{' '}
							</td>
							<td>Table Cellsaddsf sdfs sdf sf sfdsf #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
							<td>Table Cell #{i}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</ly-slider>
	<!--  -->
</Layout>
