---
import Layout_HTML from 'src/lib/layout.html.astro';

const overrides = `
	<style>
		:root {
			--clr-accent: hsl(84, 100%, 64%);
			--clr-context: hsl(83, 46%, 22%);
		}
	</style>
`;

const logos: string[] = [
	'https://cdn.freebiesupply.com/logos/large/2x/apple-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/microsoft-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/samsung-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/google-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/apple-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/microsoft-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/samsung-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/google-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/apple-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/microsoft-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/samsung-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/google-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/apple-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/microsoft-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/samsung-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/google-logo-png-transparent.png',
	'https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png',
];

const foundersArticles = [
	{
		heading: 'Research',
		paragraph:
			'We dive into your idea, learn about your audience, and create a strategy to bring your idea to life.',
	},
	{
		heading: 'Branding',
		paragraph:
			'We craft a well-suited and positioned brand so that you can build awareness from day one.',
	},
	{
		heading: 'Design',
		paragraph:
			'We design every detail to ensure you showcase your idea clearly and provide a seamless user experience',
	},
	{
		heading: 'Build',
		paragraph:
			'We code from scratch so you can learn from each user interaction and iterate to product-market fit.',
	},
];
---

<Layout_HTML title='Lilys - CONCEPTS : Hero #1' scheme='light' {overrides}>
	<ly-app layout='container'>
		<section
			class='bg-primary place-center[all] [min]h-100[vh]'
			ignore-container>
			<ly-grid cols='container' class='grow place-between[all] w-100'>
				<nav class='clr-text place-between pt-5xl w-100'>
					<a href='#' class='clr-inherit'>
						<ly-icon> blur_on </ly-icon>
					</a>
					<nav class='g-5xl'>
						<a href='#' class='clr-inherit'>Process</a>
						<a href='#' class='clr-inherit'>Projects</a>
						<a href='#' class='clr-inherit'>FAQ</a>
						<a
							href='#'
							class='clr-inherit outln-solid place-center[items] px-sm py-5xs radius-3xs txt-sm'
							>Packages</a
						>
					</nav>
				</nav>

				<header
					class='g-xl place-center[all] px-xl py-5xl txt-center grow noshrink [min]h-40[ch]'>
					<h1 class='txt-600'>
						We craft minimum <br /> viable SaaS products
					</h1>
					<p class='[max]w-32[ch]'>
						Helping founders bring their product to life, attract early users,
						and validate their idea.
					</p>
					<button class='bg-accent clr-context radius-3xs txt-600'>
						See available packages
					</button>
				</header>

				<ly-flex id='logoslider' class='g-5xl pb-5xl' ignore-container>
					{
						logos.map((i) => (
							<figure class='aspect-[21/9] radius-3xs noshrink w-16[ch]'>
								<img src={i} alt='logo' class='fit-contain' />
							</figure>
						))
					}
				</ly-flex>
			</ly-grid>
		</section>
		<section class='g-5xl py-5xl place-center[all] [min]h-75[vh]'>
			<header class='place-center[all] txt-center'>
				<small>THE PROCESS</small>
				<h2>Built by founds, for founders</h2>
			</header>
			<ly-grid cols='4' class='g-sm'>
				{
					foundersArticles.map((article, index) => (
						<ly-flex axis='col' class='bg-primary g-5xl p-sm radius-3xs'>
							<ly-flex class='align-center[items] place-between'>
								<var class='inline-flex place-center[all] txt-normal w-5xl bg-accent aspect-[1/1] radius-3xs'>
									{index}
								</var>
								<small>week {index}</small>
							</ly-flex>
							<ly-group>
								<h6>{article.heading}</h6>
								<p>{article.paragraph}</p>
							</ly-group>
						</ly-flex>
					))
				}
			</ly-grid>
		</section>
	</ly-app>
</Layout_HTML>

<style lang='css'>
	:root {
		--baseFontFamily: 'Clash Display', sans-serif;
	}

	#logoslider {
		animation: scroll 30s linear infinite;

		& img {
			filter: grayscale(100%);
			mix-blend-mode: difference;
		}
	}

	@keyframes scroll {
		0% {
			translate: 0%;
		}

		to {
			translate: -100%;
		}
	}
</style>
