---
// components/UpdateEntry.astro
interface Props {
	date: string;
	title: string;
	items: string[];
	link?: { href: string; text: string };
	version: string;
}
const { date, title, items, link, version } = Astro.props;
---

<x-flex style='gap: var(--nm);'>
	<time style='flex-shrink: 0;'>
		{date}
	</time>

	<x-grid style='--gap: var(--xs);'>
		<h3>
			{title}
		</h3>

		<ul>
			<li>
				Version <strong>{version}</strong> of the MCP Java SDK has been released.
			</li>
			{items.map((item) => <li>{item}</li>)}
			{
				link && (
					<li>
						See changelog:
						<a href={link.href} target='_blank'>
							{link.text}
						</a>
					</li>
				)
			}
		</ul>
	</x-grid>
</x-flex>
