---
import { Image } from 'astro:assets';
import AssetLogo from '../assets/hytech_h2o.png';
import Asset_SocialIcon_Facebook from '../assets/facebook.png';
import Asset_SocialIcon_Instagram from '../assets/linkedin.png';
import Asset_SocialIcon_Linkedin from '../assets/instagram.png';
import { getBasePath } from 'src/utils/routeSegments';

const basePath = getBasePath(Astro.url.pathname, 2);
---

<footer
	data-is='grid'
	data-layout='expand'
	style='--cols: 4; --gap: calc(var(--xl) * 2); row-gap: var(--xl);'>
	<div style='grid-column: 1/-1;'>
		<a href={basePath}>
			<figure style='height: calc(75 * 0.0625rem);'>
				<Image src={AssetLogo} alt='logo' decoding='async' loading='eager' />
			</figure>
		</a>
	</div>

	<div data-is='stack' style='gap: var(--md);'>
		<h6>Join Our Newsletter</h6>
		<p>Receive latest updates and news about Hytech H2O.</p>

		<div data-is='row' style='gap: var(--xs);'>
			<label for='email' data-is='field' style='flex:1 1;'>
				<input
					type='email'
					id='email'
					name='email'
					placeholder='Your email address'
				/>
			</label>
			<button style='border-radius: 0.75ex;'> Subscribe </button>
		</div>
	</div>

	<div data-is='stack' style='gap: var(--md);'>
		<h6>Contact</h6>

		<div data-is='stack' style='gap: var(--sm);'>
			<a href='mailto:info@hytechhome.com' data-variant='text'>
				info@hytechhome.com
			</a>
			<a href='tel:+16315955500' data-variant='text'> 631-595-5500 </a>
			<a
				href='https://www.google.com/maps/place/Hytech+Home/@40.7694999,-73.2929867,17z/data=!4m15!1m8!3m7!1s0x89e82de30d55ca79:0xb4ebd5a89e1b5cf7!2s6+Washington+Ave,+Bay+Shore,+NY+11706,+USA!3b1!8m2!3d40.7694999!4d-73.2904118!16s%2Fg%2F11nnkq510s!3m5!1s0x89e82de31761c589:0x6c377a3923b85bb!8m2!3d40.769499!4d-73.2904115!16s%2Fg%2F11d_9hbyzp?entry=ttu'
				target='_blank'
				rel='noopener noreferrer'
				data-variant='text'>
				6 Washington Avenue, Bay Shore, NY 11706
			</a>
		</div>
	</div>

	<div data-is='stack' style='gap: var(--md);'>
		<h6>Company</h6>

		<div data-is='stack' style='gap: var(--sm);'>
			<!-- <a href={`${basePath}#`} data-variant='text'> About us </a> -->
			<!-- <a href={`${basePath}#`} data-variant='text'> Privacy policies </a> -->
			<a href={`${basePath}/terms`} data-variant='text'> Terms of use </a>
		</div>
	</div>

	<div data-is='stack' style='gap: var(--md);'>
		<h6>Social</h6>

		<div data-is='row' style='gap: var(--sm);'>
			<a
				href='https://www.facebook.com/HytechHomeinc/'
				target='_blank'
				rel='noopener noreferrer'
				data-variant='text'>
				<figure>
					<Image
						src={Asset_SocialIcon_Facebook}
						alt='social icon - facebook'
						decoding='async'
						loading='eager'
					/>
				</figure>
			</a>
			<a
				href='https://www.instagram.com/hytechhome/'
				target='_blank'
				rel='noopener noreferrer'
				data-variant='text'>
				<figure>
					<Image
						src={Asset_SocialIcon_Instagram}
						alt='social icon - instagram'
						decoding='async'
						loading='eager'
					/>
				</figure>
			</a>
			<a
				href='https://www.linkedin.com/company/hytechsolar/'
				target='_blank'
				rel='noopener noreferrer'
				data-variant='text'>
				<figure>
					<Image
						src={Asset_SocialIcon_Linkedin}
						alt='social icon - linkedin'
						decoding='async'
						loading='eager'
					/>
				</figure>
			</a>
		</div>
	</div>

	<hr />

	<p>2025 @HytechHome. All rights reserved.</p>

	<style lang='css' is:inline>
		@scope {
			:scope {
				background-color: var(--clr-onAccent);
				color: var(--clr-background__lowered);
				overflow: clip;
				padding-block: calc(var(--xl) * 2);
				position: relative;

				:where(h1, h2, h3, h4, h5, h6) {
					color: var(--clr-background__raised);
				}

				button {
					height: revert-layer;
					padding: revert-layer;
				}

				& > :where(hr, p) {
					grid-column: 1/-1;
					width: 100%;
				}

				& > hr {
					background-color: var(--clr-accent__lowered);
					opacity: 0.05;
				}

				& > p {
					color: var(--clr-text__lowered);
					text-align: center;
				}
			}
		}
	</style>
</footer>
