---
import Layout from 'src/lib/layout.docs.astro';
import DocsArticle from 'src/lib/components/docs.article.astro';

const labs = [
	{
		heading: 'UI',
		subheading: 'Custom web components',
		description: '',
		path: '/labs/ui',
	},
	{
		heading: 'Tags',
		subheading: 'Vanilla HTML Tags',
		description: '',
		path: '/labs/tags',
	},
	{
		heading: 'Playground (live)',
		subheading: 'Place to play around and test before publish',
		description: '',
		path: '/labs/playground',
	},
];

const docs = [
	{
		heading: 'Buttons',
		subheading: 'a - button - summary',
		description: '',
		path: '/docs/buttons',
	},
	{
		heading: 'Fields',
		subheading: 'input - select - textarea',
		description: '',
		path: '/docs/fields',
	},
	{
		heading: 'Icons',
		subheading: 'ly-icon',
		description: '',
		path: '/docs/icons',
	},
	{
		heading: 'Layouts',
		subheading: 'flex - grid - group',
		description: '',
		path: '/docs/layouts',
	},
	{
		heading: 'Tables',
		subheading: 'simple - complex',
		description: '',
		path: '/docs/tables',
	},
];
---

<Layout>
	<!--  -->
	<h1>Lily's</h1>
	<p>An opinionated props-powered CSS x Web Components Kit</p>
	<figure>
		<img
			src='https://cdn.dribbble.com/userupload/12190560/file/original-d6d2027a27aa630f756ce2888a6e32f5.jpg'
			alt='banner'
			style='aspect-ratio: 20/10;'
		/>
	</figure>
	<!--  -->
	<h2>Components</h2>
	<ly-slider class='g-5xl' tmpl-expand>
		{
			docs.map(({ heading, subheading, description, path }) => (
				<DocsArticle
					{heading}
					{subheading}
					{description}
					{path}
					className='w-40[ch]'
				/>
			))
		}
	</ly-slider>
	<!--  -->
	<h2>Labs</h2>
	<ly-slider class='g-5xl' tmpl-expand>
		{
			labs.map(({ heading, subheading, description, path }) => (
				<DocsArticle
					{heading}
					{subheading}
					{description}
					{path}
					className='w-40[ch]'
				/>
			))
		}
	</ly-slider>
	<!--  -->
	<!-- <footer class='bg-primary g-sm py-5xl' tmpl-expand>
		<h2>Know More</h2>
		<p>
			Explore modern UI solutions, available within lily's collection of web
			components &amp; css framework, to help you build simply beautiful user
			experiences.
		</p>
		<a href='#'>Github</a>
	</footer> -->
</Layout>
