---
import Layout from 'src/lib/layout.docs.astro';
import Elements from 'src/lib/shared/docu-elements.ts';
---

<Layout scheme='dark'>
	<header
		class='bg-primary g-5xl place-between py-5xl [min]h-75[vh] radius-3xs'
		tmpl-expand>
		<nav class='g-sm place-between wrap w-100'>
			<figure class='aspect-[1/1] h-5xl w-max'>
				<img src='/icon.png' alt='logo' style='filter: invert(1);' />
			</figure>

			<nav class='g-sm place-safe-end wrap'>
				<a href='/' class='clr-inherit'>Get Started</a>
				<a href='/examples' class='clr-inherit'>Examples</a>
				<a
					href='#'
					class='__button __outline clr-subtext'
					style='--bg:transparent; pointer-events: none;'
					>Playground (not available)</a
				>
			</nav>
		</nav>
		<ly-group>
			<h1 style='font-size: calc(var(--scale-5xl) * 2);'>Lily's</h1>
			<h2>Human Interface's <br />&amp; Mood Styling <br />Guidelines</h2>
			<p class='clr-subtext txt-500'>
				Powered by dead simple CSS props and conventions.
			</p>
		</ly-group>
		<ly-flex class='g-sm wrap'>
			<button class='__outline txt-500' style='--bg: transparent;'>Tv</button>
			<button class='__outline txt-500' style='--bg: transparent;'>Web</button>
			<button class='__outline txt-500' style='--bg: transparent;'
				>Tablet</button
			>
			<button class='__outline txt-500' style='--bg: transparent;'
				>Mobile</button
			>
			<button class='__outline txt-500' style='--bg: transparent;'>Watch</button
			>
		</ly-flex>
	</header>
	{
		Elements.map(({ tagname, props, snippets }) => (
			<>
				<h3 class='my-5xl'>{tagname}</h3>
				{props && props.length > 0 && (
					<ly-grid tmpl='2' class='g-sm'>
						{props.map(({ target, classes }) => (
							<ly-group class='g-sm'>
								<span class='block clr-subtext txt-500 txt-capitalize'>
									- {target}
								</span>
								<blockquote>
									<dl>
										{classes &&
											classes.length > 0 &&
											classes.map(({ name, description }) => (
												<>
													<dt class='txt-600'>{name}</dt>
													<dd class='clr-subtext'>{description}</dd>
												</>
											))}
									</dl>
								</blockquote>
							</ly-group>
						))}
					</ly-grid>
				)}
				<ly-grid
					tmpl='4'
					class='g-sm mt-5xl outln outln-primary py-5xl'
					style='grid-auto-rows: 1fr;'
					tmpl-expand>
					{snippets.map((snippet) => (
						<article class='flex flex-col outln outln-primary radius-3xs h-100'>
							<header class='place-end p-sm w-100'>
								<nav class='__tabs'>
									<button>
										<span>result</span>
									</button>
									<button>
										<span>code</span>
									</button>
								</nav>
							</header>
							<hr class='__divider-x' />
							<ly-group class='place-center place-center[items] p-5xl grow'>
								<Fragment set:html={snippet} />
							</ly-group>
						</article>
					))}
				</ly-grid>
			</>
		))
	}
</Layout>
